<form action="http://127.0.0.1:8000/app/createUser/" method="post">
    {% csrf_token %}
    
    <label for="user_name">Name:</label>
    <input type="text" id="user_name" name="user_name" required><br>

    <label for="University_Email">University Email:</label>
    <input type="email" id="University_Email" name="University_Email" required><br>

    <label for="is_student">Is Student:</label>
    <input type="checkbox" id="is_student" name="is_student" value="true"><br>

    <label for="is_staff">Is Staff:</label>
    <input type="checkbox" id="is_staff" name="is_staff" value="true"><br>

    <label for="Password">Password:</label>
    <input type="password" id="Password" name="Password" required><br>

    <button type="submit">Sign Up</button>
</form>
