<form action="http://127.0.0.1:8000/app/createUser/" method="post"> 
    {% csrf_token %}
    <label for="Name">Name:</label>
    <input type="text" id="Name" name="Name" required><br>

    <label for="University_Email">University Email:</label>
    <input type="email" id="University_Email" name="University_Email" required><br>

    <label for="student">Student:</label>
    <input type="radio" id="student" name="role" value="student" required>
    <label for="student">Student</label><br>

    <label for="teacher">Instructor:</label>
    <input type="radio" id="teacher" name="role" value="instructor" required>
    <label for="teacher">Instructor</label><br>

    <label for="Password">Password:</label>
    <input type="password" id="Password" name="Password" required><br>

    <input type="submit" value="Sign Up">
</form>
